---
import Layout from '../layouts/Layout.astro';
import GalleryCard  from '../components/GalleryCard.jsx';

---
<Layout title='Galery'>
    <div transition:persist>
        <GalleryCard client:only/>
    </div>
</Layout>