---
import Layout from '../layouts/Layout.astro';
import 'photoswipe/style.css';
const getProductData = await fetch(`${import.meta.env.PUBLIC_URL}/api/products.json`);
import sharp from 'sharp';
const productData = await getProductData.json();

---
<Layout title='Galery'>

<div class="grid grid-cols-3 max-w-6xl gap-4 mx-auto py-20 pswp-gallery" id="gallery">
    {
        productData.products.map((product: any) => (
        <a 
            href={product.example} 
            data-pswp-width="1875" 
            data-pswp-height="2500" 
            target="_blank"
            class="rounded-xl shadow-xl shadow-sky-300/10 hover:shadow-2xl hover:shadow-sky-300/75 transition-all overflow-hidden hover:scale-110"
        >
            <img src={product.example} class="w-full h-full">
        </a>
        
    ))}
</div>
<script>
    import PhotoSwipeLightbox from 'photoswipe/lightbox';
    import 'photoswipe/style.css';

    const lightbox = new PhotoSwipeLightbox({
      gallery: '#gallery',
      children: 'a',
      pswpModule: () => import('photoswipe')
    });
    lightbox.init();
</script>

</Layout>