---
const {image, name, link} = Astro.props;
import { Image } from 'astro:assets';
---
<div>
    <a href={link} target="_blank">
        <button class="btn btn-secondary">
            <Image 
                src={image} 
                alt={name}
                width=10
                height=10
                class="m-2"
            />
            <h1>{name}</h1>

        </button>
    </a>
</div>